{% extends "base.html" %}
{% block title %}Images bookmarked{% endblock %}
{% block content %}
<style>
.searchWidget{
    margin-right: 20px;
}
.searchWidget select{
    font-size: 15px;
}

</style>
    {% if section == 'images' %}

    <h1>{{ user.profile.name }}</h1>
    <p>{{ user.profile.self_description }}</p>
    
    <p><a href="{% url 'image:upload' %}">upload</a>   |   <a href="{% url 'image:delete' None %}">delete</a></p>
    <br><br>
    {% if not images %}
    <p> You haven't uploaded any images yet ! </p>
    {% endif %}
    {% endif %}

    {% if section == 'search'%}
    <div>
        <form action="{% url 'search:search'%}" method="post" enctype="multipart/form-data">
            <span class="searchWidget">{{ form.keyword }}</span>    
            <input type='submit' value="Search">
            <span class="searchWidget">Search type: {{ form.searchType }}</span>
            <span class="searchWidget">Order by: {{ form.orderType}}<span>
        {% csrf_token %}
       </form>
    </div><br><br><br>
    {% endif %}

    <div id="image-list">
        {% include "image/list_ajax.html" %}
    </div>

{% endblock %}
{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;
    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
            block_request = true;
            page += 1;
            $.get('?page=' + page, function(data) {
                if(data == '')
                {
                    empty_page = true;
                }
                else {
                    block_request = false;
                    $('#image-list').append(data);
                }
            });
        }
    });
{% endblock %}