<html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js">
$(document).ready(function(){
  $('#likeButton').click(function(){
    $.ajax({
      type:"GET",
      url:"likes_plus",
      data:{'image':image},
      data-type:'json',
      success: function(ret){
        $('#likeNum').html(ret.result)
      }
    })
  });
});
</script>

<body>

  <div>
    <img src='/media/{{image.image}}' height="200px" width="300px" >
    <ul>
      <li> title : {{image.title}}</li>
      <li> tags : {{image.tag}}</li>
      <li> photographer : {{image.owner.username}}</li>
      <li id='likeNum'> likes : {{image.likes}}</li>

      {% if  request.user.is_authenticated %}
      <li><form><button type='button' id='likeButton'>Like</button></form></li>
      {% endif %}
  </div>

</body>
</html>