{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<!--
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imageX</title>
    <!--{% load static %}
    <link rel="stylesheet" href="{% static "search/style.css"%}" type="text/css">-->

<script type="text/javascript">

function toSearch(){
    location.href="{% url 'search:search' %}";
}
function toLogin(){
    location.href="{% url 'account:login' %}";
}
function toRegister(){
    location.href="{% url 'account:register' %}";
}
function toLogout(){
    location.href="{% url 'account:logout' %}";
}
function toHomepage(){
    location.href="{% url 'account:dashboard' %}";
}

</script>


<body>

  <!--<div id="header" data-position="fixed">
  <!--<span onclick="toSearch()">search</span>-->
    <form action="{% url 'search:search'%}">
      <input type="text" name="searchItem" placeholder=' keyword'>
        <input type="Submit" value="search">
    </form>
<!--
    {% if not request.user.is_authenticated %}
    <button onclick="toLogin()">Login</button>
    {% endif %}

    {% if not request.user.is_authenticated %}
    <button onclick="toRegister()">Register</button>
    {% endif %}

    {% if  request.user.is_authenticated %}
    <button onclick="toLogout()">Log out</button>
    {% endif %}

    {% if  request.user.is_authenticated %}
    <span onclick="toHomepage()">Homepage</span>
    {% endif %}-->

  </div>


  <div id='naviBar'>
    <div id='naviSub'>
    	<span id='byMe'>Tags</span>
    	<span id='byCate'>Category</span>
    	<span id='byPhotographer'>Photographer</span>
    </div>
    <select class="middleRight">
      <option>New</option>
      <option>Popular</option>
    </select>
  </div>
<!--{% if request.GET.searchItem  %}
  <h2 class="results">Search Results for {{ request.GET.searchItem }}</h2>
{% endif %}-->
{% if searchAction %}
  <div>
      <p>Nothing Matches</p>
  </div>
{% endif %}
{% if not searchAction and  not list_images  %}
<div class="pagination">

    <span class="step-links">
        {% if base_images.has_previous %}

            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ base_images.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ base_images.number }} of {{ base_images.paginator.num_pages }}.

        </span>
        {% if base_images.has_next %}

            <a href="?page={{ base_images.next_page_number }}">next</a>
            <a href="?page={{ base_images.paginator.num_pages }}">last &raquo;</a>

        {% endif %}
    </span>
</div>
  <div id='imageArea'>
      {% for image in base_images %}
    <div>
         <a href="{% url 'image:view' image.image %}">
        <img src='/media/{{image.image}}' height="200px" width="300px" >

    </div>

      {% endfor %}
  </div>
{% endif %}

{% if list_images %}
<div class="pagination">
    <span class="step-links">
        {% if list_images.has_previous %}
            <a href="?page=1&{% if request.GET.searchItem %}&searchItem={{ request.GET.searchItem }}{% endif %}">&laquo; first</a>
            <a href="?page={{ list_images.previous_page_number }}&{% if request.GET.searchItem %}&searchItem={{ request.GET.searchItem }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">

            Page {{ list_images.number }} of {{ list_images.paginator.num_pages }}.
        </span>
        {% if list_images.has_next %}
            <a href="?page={{ list_images.next_page_number }}&{% if request.GET.searchItem %}&searchItem={{ request.GET.searchItem }}{% endif %}">next</a>
            <a href="?page={{ list_images.paginator.num_pages }}&{% if request.GET.searchItem %}&searchItem={{ request.GET.searchItem }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

  <div>
      {% for image in list_images.object_list %}
        <!--<p>Tag: {{image.tag}}</p>-->

        <a href="{% url 'image:view' image.image %}">
        <img src='/media/{{image.image}}' height="200px" width="300px" >
      {% endfor %}
  </div>
  {% endif %}

</body>
{% endblock %}