<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imageX</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

  <div id="header" data-position="fixed">
    <span>imageX</span>
    <input type="text" name="searchKeyword" placeholder=' keyword'>
    <span class='top_right'>Homepage</span>
  </div>
  
  <div id='userInfo'>
    <img src='ImageField/avatar.jpeg' id='avatar'>
    <div id='textInfo'>
      <h1 id='name'>Username</h1>
      <hr>
      <p id='selfIntro'>a brief self introduction</p>
    </div>
  </div>


  <div id='naviBar'>
    <div id='naviSub'>
    	<span id='byTags'>Image <span>5</span></span>
    	<span id='byTags'>Likes <span>999</span></span>
    </div>
<form action="/main/upload/" >
    <div class="middleRight">
      <button>Upload</button>
      <button>Edit</button>
    </div>
  </div><br>
</form>
  <hr>

  <div id='imageArea'>
    <div class='column' id='col-1'>
      <img src="ImageField/Images/image0.jpg">
      <img src='ImageField/Images/image1.jpg'>
    </div>
    <div class='column' id='col-2'>
      <img src='ImageField/Images/image2.jpg'>
      <img src='ImageField/Images/image3.jpg'>
    </div>
    <div class='column' id='col-3'>
      <img src='ImageField/Images/image4.jpg'>
      <img src='ImageField/Images/image5.jpg'>
    </div>
  </div>


</body>
