<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imageX</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

  <div id="header" data-position="fixed">
    <span>imageX</span>
    <input type="text" name="searchKeyword" placeholder=' keyword'>
    <button class='top_right'> Log in </button>
  </div>


 <form action="." method ="get">

    <lable>ImageX: what do you want</lable>
    <input id="userSearch" name="searchItem" type="search" required/>
    <input type="submit" value="Search"/>


</form>

  <h2 class="keyword">Keyword</h2>

  <div id='naviBar'>
    <div id='naviSub'>
    	<span id='byMe'>Tags</span>
    	<span id='byCate'>Category</span>
    	<span id='byPhotographer'>Photographer</span>
    </div>
    <select class="middleRight">
      <option>New</option>
      <option>Popular</option>
    </select>
  </div>

  {% if nothing %}
  <div>
      <p>Nothing Matches</p>
  </div>
{% endif %}

{% if not nothing and  not list_images  %}
  <div id='imageArea'>
      {% for image in base_images %}
    <div>
      <img src='/media/{{image.image}}' height="150px" width="200px" >
    </div>
      {% endfor %}
  </div>
{% endif %}

{% if list_images %}
  <h2 class="results">results</h2>
  <div>
      {% for image in list_images %}
        <p>{{image.tag}}</p>
        <p>{{ nothing }}</p>
        <img src='/media/{{image.image}}' height="150px" width="200px" >
      {% endfor %}
  </div>
  {% endif %}


</body>
