<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imageX</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

  <div id="header" data-position="fixed">
    <span>imageX</span>
    <input type="text" name="searchKeyword" placeholder=' keyword'>
    <button class='top_right'> Log in </button>
  </div>

 <form action="results/" method ="get">

    <lable>ImageX: what do you want</lable>
    <input id="userSearch" name="searchItem" type="search" required/>
    <input type="submit" value="Search"/>

</form>
  <h2 class="keyword">Keyword</h2>

  <div id='naviBar'>
    <div id='naviSub'>
    	<span id='byMe'>Tags</span>
    	<span id='byCate'>Category</span>
    	<span id='byPhotographer'>Photographer</span>
    </div>
    <select class="middleRight">
      <option>New</option>
      <option>Popular</option>
    </select>
  </div>

  <div id='imageArea'>
    <div class='column' id='col-1'>
      <img src="ImageField/Images/image0.jpg">
      <img src='ImageField/Images/image1.jpg'>
    </div>
    <div class='column' id='col-2'>
      <img src='ImageField/Images/image2.jpg'>
      <img src='ImageField/Images/image3.jpg'>
    </div>
    <div class='column' id='col-3'>
      <img src='ImageField/Images/image4.jpg'>
      <img src='ImageField/Images/image5.jpg'>
    </div>
  </div>


</body>
