<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imageX</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

  <div id="header" data-position="fixed">
    <span>imageX</span>
    <input id="userSearch" name="searchItem" placeholder=' search' type="search" required/>

  </div>

  <form action="{% url 'login' %}">

   <input type="submit" value="Login In">
 </form>



  <div id='navi'>
  	<span>New</span>
  	<span>Popular</span>
  	<span>Gallery</span>
  </div>

  <div id='imageArea'>
    <div class='column' id='col-1'>
      <img src="ImageField/Images/image0.jpg">
      <img src='ImageField/Images/image1.jpg'>
    </div>
    <div class='column' id='col-2'>
      <img src='ImageField/Images/image2.jpg'>
      <img src='ImageField/Images/image3.jpg'>
    </div>
    <div class='column' id='col-3'>
      <img src='ImageField/Images/image4.jpg'>
      <img src='ImageField/Images/image5.jpg'>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    $(document).ready(function(){
      $("body").onload(function(){
        alert('hello1');
      });

      $(window).onscroll(function(){
        alert("hello");
      });
    });
  </script>


</body>
